extends layout

block content
  h1 #{englishMonth} #{year}
  if prevMonth
    a(href='/#{prevMonth}') prev
  if nextMonth
    a(href='/#{nextMonth}') next

  ul
    each item in items
      li= item.start.date
  .calendar
    each w, di in formattedMonth
      ul.week
        each d, wi in w
          if d
            .day=d
          else
            span.day
