extends layout

block content
  .header
    h1 #{englishMonth} #{year}
    .nav
      if prevMonth
        a(href='/#{prevMonth}') &#10096; Prev 
      if nextMonth
        a(href='/#{nextMonth}') Next &#10097;
    //- ul
    //-   each item in items
    //-     li= item.start.date
  .calendar
    each w, di in formattedMonth
      .week
        each d, wi in w
          if d
            .day=d
          else
            span.day
