extends layout

block content
  .header
    h1
      | #{heading}
      span Default location: Seattle, WA
    .nav
      if prevMonth
        a.btn(href='/#{prevMonth}') &#10096; Prev 
      if nextMonth
        a.btn(href='/#{nextMonth}') Next &#10097;

  .calendar
    each w, wi in formattedMonth
      .week
        each d, di in w
          if d
            .day
              span=d.date.getDate()
              if d.event
                .event(class='event-offset-'+di+' event-duration-'+Math.floor(d.event.duration), style='background-color:'+d.event.color, title=d.event.name)
                  span= d.event.name
          else
            span.day
