extends layout

block content
  h1 #{englishMonth} #{year}
  
  ul
    each item in items
      li= item.start.date
  - var n = 1
  ul
    while n < days+1
      div=n++

  if prevMonth
    a(href='/#{prevMonth}') prev
  if nextMonth
    a(href='/#{nextMonth}') next
